<header class="bg-primary text-white py-4 fixed top-0 left-0 w-full z-50 " style="background: #0b131f;font-weight: 600;">
    <div class="container mx-auto flex justify-between items-center px-6">
      <div class="text-2xl font-bold">Team drone</div>
      <nav class="space-x-6">
        <a routerLink="/" class="hover:text-accent">Home</a>
        <a routerLink="/about" class="hover:text-accent">About</a>
        <a routerLink="/contact" class="hover:text-accent">Contact</a>
        <a routerLink="/team" class="hover:text-accent">Our Team</a>
        
      </nav>
    </div>
  </header>
  