<div class="chart-container" style="margin-top: 5%;">
    <app-utility-chart
      [labels]="labels"
      [data]="gasData"
      label="Gas (m³)"
      color="green">
    </app-utility-chart>
 </div>
 <div class="chart-container">
    <app-utility-chart
      [labels]="labelsFeb"
      [data]="gasDataFeb"
      label="Gas (m³)"
      color="green">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMar"
      [data]="gasDataMar"
      label="Gas (m³)"
      color="green">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsApr"
      [data]="gasDataApr"
      label="Gas (m³)"
      color="green">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMay"
      [data]="gasDataMay"
      label="Gas (m³)"
      color="green">
    </app-utility-chart>
 </div>
