<div class="chart-container" style="margin-top: 5%;">
   <div class="container">
    <div class="title-box mx-auto" style="text-align: center;font-size: large ;">
      <h1>Jenny Grace Building</h1>
    </div>
  </div>
    <app-utility-chart
      [labels]="labels"
      [data]="electricityData"
      label="Electricity (kWh)"
      color="blue">
    </app-utility-chart>
 </div>
 <div class="chart-container">
    <app-utility-chart
      [labels]="labelsFeb"
      [data]="electricityDataFeb"
      label="Electricity (kWh)"
      color="blue">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMar"
      [data]="electricityDataMar"
      label="Electricity (kWh)"
      color="blue">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsApr"
      [data]="electricityDataApr"
      label="Electricity (kWh)"
      color="blue">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMay"
      [data]="electricityDataMay"
      label="Electricity (kWh)"
      color="blue">
    </app-utility-chart>
 </div>
