<div class="chart-container" style="margin-top: 5%;">
   <div class="container">
    <div class="title-box mx-auto" style="text-align: center;font-size: large ;">
      <h1>Jenny Grace Building</h1>
    </div>
  </div>
    <app-utility-chart
      [labels]="labels"
      [data]="waterData"
      label="Water (Liters)"
      color="orange">
    </app-utility-chart>
 </div>
 <div class="chart-container">
    <app-utility-chart
      [labels]="labelsFeb"
      [data]="waterDataFeb"
      label="Water (Liters)"
      color="orange">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMar"
      [data]="waterDataMar"
      label="Water (Liters)"
      color="orange">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsApr"
      [data]="waterDataApr"
      label="Water (Liters)"
      color="orange">
    </app-utility-chart>
 </div>
  <div class="chart-container">
    <app-utility-chart
      [labels]="labelsMay"
      [data]="waterDataMay"
      label="Water (Liters)"
      color="orange">
    </app-utility-chart>
 </div>
